[Desktop Entry]
Icon=text-html
Name=https://www.reddit.com/r/3dshacks/comments/7z46ik/reminder_you_can_get_custom_themes_for_fbi/
Type=Link
URL[$e]=https://www.reddit.com/r/3dshacks/comments/7z46ik/reminder_you_can_get_custom_themes_for_fbi/
