[Desktop Entry]
Icon=text-html
Name=https://gbatemp.net/threads/create-fbi-themes.455941/page-2
Type=Link
URL[$e]=https://gbatemp.net/threads/create-fbi-themes.455941/page-2
