[Desktop Entry]
Icon=text-html
Name=https://github.com/GrewdonGaming21/FBI-Custom-Themes/tree/main
Type=Link
URL[$e]=https://github.com/GrewdonGaming21/FBI-Custom-Themes/tree/main
