[Desktop Entry]
Icon=text-html
Name=https://github.com/mdj03/Dark-Material-Theme-for-FBI/releases
Type=Link
URL[$e]=https://github.com/mdj03/Dark-Material-Theme-for-FBI/releases
